/* Estilo global para el pie de página */
.footer {
    background: linear-gradient(135deg,#57636e, #ffffff );
    box-shadow: 0 00px 15px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra pronunciada */
    border-radius: 10px; /* Bordes redondeados */
    color: #333; /* Color de texto */
    position: relative; /* Asegura que la sombra se muestre correctamente */
    z-index: 10; /* Asegura que el footer esté sobre otros elementos */
    padding: 20px; /* Espaciado interno */
}

/* Estilo para el enlace "Back to top" */
.back-to-top {
    text-decoration: none;
    color: #007bff; /* Color de enlace */
    font-weight: bold; /* Negrita para el enlace */
    display: inline-block;
    margin-bottom: 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transición suave */
}

.back-to-top:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

/* Estilo para el texto del pie de página */
.footer-text {
    margin: 0;
    font-size: 14px; /* Tamaño de fuente */
    color: #666; /* Color del texto */
}
