/* 
    General Styles
*/
/* En tu archivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Orbitron&display=swap');

*{
    font-family: "Orbitron", sans-serif;

}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    border-color: rgba(255, 0, 0, 0.1);
}

.navbar-brand img {
    width: 150px;
}


/* Asegura que el dropdown siempre se muestre */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Opcional: estiliza el botón del menú */
.dropdown-toggle {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
}

/* Opcional: estiliza los elementos del dropdown */
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.slider-container {
    display: flex;
    align-items: center;
    position: relative; /* Para posicionar las flechas personalizadas */
}

.slider-wrapper {
    flex: 1;
    overflow: hidden; /* Oculta cualquier contenido fuera del contenedor */
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 1;
}


