.slider-wrapper {
    width: 100%;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-prev,
.slick-next {
    position: relative;
    z-index: 1;
    background-color: #f8f9fa; /* Fondo de botón */
    border: 1px solid #dee2e6; /* Borde de botón */
    border-radius: 50%;
}

.slick-prev {
    left: -3%; /* Ajusta la posición según sea necesario */
}

.slick-next {
    right: -3%; /* Ajusta la posición según sea necesario */
}

.btn-light {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}
